<h1 class ="text-center">Welcome to Minnesota Officiants </h1>
<br />
<p >
  <div class = "container text-center" >
    <% if logged_in? %>
      <%= button_to "Log Out", log_out_path , method: :get, class: "btn btn-warning"  %>
    <% else %>
      <%= button_to "Log In", log_in_path , method: :get, class: "btn btn-success"  %>
    <% end %>
  </div>
</p>