<h2>Search Results</h2>
<h3><%= link_to "Back", new_search_path %></h3>
<% if @search.search_weddings.empty? %>
<p>No results found</p>

<% else %>
		<div class = "container">
			<table>
				<% @search.search_weddings.each do |w| %>	
					<tr>
						<td width = "340px"><%=  link_to  w.get_title, edit_wedding_path(w) %></td>
						<td><%= w.location %></td>
					</tr>
				<% end %>
			</table>

		</div>

<% end %>